<link rel='stylesheet' href='/stylesheets/style.css' />

<h1>SE HA PRODUCIDO UN ERROR, LA <b>URL</b> NO ES CORRECTA</h1>

<h1><%= message %></h1>
<h2>ERROR <%= error.status %></h2>
<pre><%= error.stack %></pre>


<img src="/images/diablillo.png" alt="">