body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
 color:rgb(255, 60, 0)
}

a {
  color: #00B7FF;
}

.imagen {
  width: 300px;
  height: 300px;
}
